.App {
    text-align: center;
  }
  
  .form-signin input[type="First Name"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
  }

  .form-signin input[type="Last Name"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
  }

  .form-signin input[type="Email"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
  }
  
  .form-signin input[type="Confirm Password"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
  }

  .form-signin input[type="password"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
  }

  .form-signin input[type="checkbox"] {
    margin-top: 30px;
    
  }
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 60px;
    padding: 20px;
  }
  
  .form-signin button {
    background-color: #4c77af;
    color:whitesmoke;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    border-radius: 12px;
    font-size: 16px
  }
  
  button:hover {
    opacity: 0.8;
  }
  